@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    height: 50vh;
    margin: auto;
    background-color: #777;
    border: 2px solid #333;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.container div {
    background-color: #ccc;
    border: 2px solid #333;
    padding: 20px;
}