@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 30px;
    background-color: hsl(192, 68%, 30%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    text-transform: uppercase;
}

header a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

li a {
    padding: 10px;
    font-size: 1.25em;
}

li a:hover {
    background-color: hsl(192, 68%, 20%);
}

main {
    max-width: 800px;
    height: 900px;
    margin: auto;
    padding: 50px 30px;
    background-color: hsl(0, 0%, 100%);
}

main h2 {
    font-size: 2em;
}

footer {
    padding: 20px 30px;
    background-color: hsl(192, 68%, 30%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 30px;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
}